In [1]:
#1 -Write a code to reverse a string.

In [2]:
str = "Hello world"
str[::-1]

'dlrow olleH'

In [3]:
#2- Write a code to count the number of vowels in a string.

In [1]:
string = "sushantkumar"
vowels = "aeiou"

count = sum(string.count(vowel) for vowel in vowels)
print(count)

4

In [5]:
#3- Write a code to check if a given string is a palindrome or not.

In [6]:
# function which return reverse of a string

def isPalindrome(s):
    return s == s[::-1]


# Driver code
s = "malayalam"
ans = isPalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

Yes

In [7]:
def ispalindrome(s):
    return s==s[::-1]

s = "sushant"
ans = ispalindrome(s)

if ans:
    print("Yes")
else:
    print("No")

No

In [8]:
#4- Write a code to check if two given strings are anagrams of each other.

In [9]:
s1=("silent:")
s2=("listen:")
if(sorted(s1)==sorted(s2)):
      print("The strings are anagrams.")
else:
      print("The strings aren't anagrams.")

The strings are anagrams.

In [10]:
#5- Write a code to find all occurrence of a given substring within another strings.

In [2]:
myStr = "I am python beginner. I learn python from pwskills"
substring = "python"
str_len = len(myStr)
sub_len = len(substring)
sub_indices = []
for i in range(str_len - sub_len):
    if myStr[i:i + sub_len] == substring:
        sub_indices.append(i)
print("The string is:", myStr)
print("The substring is:", substring)
print("The starting indices of the occurrences of {} in the string are:{}".format(substring, sub_indices))

The string is: I am python beginner. I learn python from pwskills
The substring is: python
The starting indices of the occurrences of python in the string are:[5, 30]

In [16]:
#6- Write a code to perform basic string compression using the count of repeated character

In [17]:
string = "aaabcccccaaaa"

output = ""
lastchar = string[0]
counts = {lastchar:1}

for i in range(1, len(string)):
    s = string[i]
    if s == lastchar:
        counts[s] += 1
    else:
        output += f"{lastchar}{counts[lastchar]}" if counts[lastchar] > 1 else lastchar
        del counts[lastchar]
        counts[s] = 1
    lastchar = s

print(output+f"{lastchar}{counts[lastchar]}" if counts[lastchar] > 1 else lastchar)

a3bc5a4

In [20]:
#7 = Write a code to determine if a string has all unique character.

In [21]:
import operator as op#7 = Write a code to determine if a string has all unique character.

def isUniqueChars(string):

	for i in string:
		if op.countOf(string, i) > 1:
			return False
	return True


# driver code
st = "abcd"
print(isUniqueChars(st))
# “abcd” doesn’t contain any duplicates. Hence the output is True.

True

In [23]:
import operator as op

def isUniqueChars(string):

    for i in string:
        if op.countOf(string, i) > 1:
            return False
    return True


# driver code
st = "abcad"
print(isUniqueChars(st))
# "abcad" contains duplicate . Hence the output is false

False

In [24]:
#8- Write a code to convert a given string to uppercase or lowercase.

In [25]:
text = "Hello world"

In [26]:
text.lower()

'hello world'

In [28]:
text.upper()

'HELLO WORLD'

In [29]:
#9- Write a code to count the number of words in a string.

In [30]:
countOfWords = len("Hello world,its a brightsunny day".split())
print("Count of Words in the given Sentence:", countOfWords)

Count of Words in the given Sentence: 5

In [31]:
#10 - Write a code to concatenate two string without using the + operator.

In [32]:
str1 = "Welcome"

In [33]:
str2 = "pwskills"

In [34]:
print(str1)

Welcome

In [35]:
print(str2)

pwskills

In [36]:
concat = " ".join([str1,str2])

In [37]:
concat

'Welcome pwskills'

In [38]:
#11- Write a code to remove all occurrence  of a specific element from a list.

In [39]:
lis= [1,2,True,(3+5j),'pwskills']

In [40]:
lis.remove('pwskills')

In [41]:
lis

[1, 2, True, (3+5j)]

In [42]:
#12- Implement a code to find the second largest number in a given list of integer.

In [43]:
# Sorting the list and then print the second largest number.
nums=[78,45,76,90,23,37,84]

In [44]:
nums.sort()

In [45]:
nums

[23, 37, 45, 76, 78, 84, 90]

In [46]:
print("second largest number is ",nums[-2])

second largest number is  84

In [47]:
#13- Create a code to count the occrrence of each element in a list and return dictionary with elements as keys and their counts as values.

In [48]:
#Count the Frequency of Elements in a List.
# input_list=[1,2,3,4,5,2,6,3,5,1,7,3,2]

In [49]:
def counter(input_list):
    freq={}
    for i in input_list:
        freq[i]=freq.get(i,0)+1
        print(i, freq[i])
    return freq

In [50]:
print(counter([1,2,3,4,5,2,6,3,5,1,7,3,2]))

1 1
2 1
3 1
4 1
5 1
2 2
6 1
3 2
5 2
1 2
7 1
3 3
2 3
{1: 2, 2: 3, 3: 3, 4: 1, 5: 2, 6: 1, 7: 1}

In [51]:
#14 -Write a code to reverse a list in-place without using an built-in reverse functions.

In [52]:
grocery_list=["Milk","orange",1,2,3,True,2+4j,2.33]

In [53]:
grocery_list[::-1]

[2.33, (2+4j), True, 3, 2, 1, 'orange', 'Milk']

In [54]:
#15 - Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [55]:
list1= [1,2,3,4,5,6,3,8,4,7,5,1,2]
result=[]

In [56]:
for i in list1:
    if i not in result:
        result.append(i)

In [57]:
print(result)

[1, 2, 3, 4, 5, 6, 8, 7]

In [58]:
# 16 - Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [59]:
numbers=[1,2,3,8,6,9,4]

In [60]:
sorted(numbers)

[1, 2, 3, 4, 6, 8, 9]

In [61]:
Book_list=["Data Structure","Algorithum","web dev"]

In [62]:
sorted(Book_list)

['Algorithum', 'Data Structure', 'web dev']

In [63]:
# 17 -Write a code to merge two sorted lists into a single sorted lists.

In [64]:
My_list1=["Apple","Orange","Banana"]

In [65]:
sorted(My_list1)

['Apple', 'Banana', 'Orange']

In [66]:
My_list2=["Potato","Avacado","Brinjal"]

In [67]:
sorted(My_list2)

['Avacado', 'Brinjal', 'Potato']

In [68]:
My_list1.extend(My_list2)

In [69]:
My_list1

['Apple', 'Orange', 'Banana', 'Potato', 'Avacado', 'Brinjal']

In [70]:
sorted(My_list1)

['Apple', 'Avacado', 'Banana', 'Brinjal', 'Orange', 'Potato']

In [71]:
# 18- Implement a code to find the intersection of two given lists.

In [72]:
def intersection_list(list1, list2):  
    return list(set(list1) & set(list2))  
  
list1 = [40, 90, 11, 58, 31, 66, 28, 54, 79]  
list2 = [58, 90, 54, 31, 45, 11, 66, 28, 26]

In [73]:
print(intersection_list(list1, list2))

[66, 90, 11, 54, 58, 28, 31]

In [74]:
#19 - Create a code to find the union of two lists without duplicates.

In [75]:
#Python Program to Combine Two Lists With Unique Values

list_1 = [1, 'a']
list_2 = [1, 2, 3, 4, 5]

# If you want the unique items from a concatenated list, you can use list() and set(). 
# set() selects the unique values and list() converts the set into list.
list_joined = list(set(list_1 + list_2))

In [76]:
print(list_joined)

[1, 2, 3, 4, 5, 'a']

In [77]:
#20 - Write a code to shuffle a given list randomly without using inbuilt-in shuffle function.

In [78]:
import random
list1 = [10,12,15,14,18,17,13,48,65]
print("The original list is:",list1)
list2 = random.sample(list1,len(list1))
print ("The shuffled list is:",list2)

The original list is: [10, 12, 15, 14, 18, 17, 13, 48, 65]
The shuffled list is: [17, 10, 12, 18, 13, 14, 65, 48, 15]

In [79]:
# 21 - Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [80]:
t1 = (1,2,100,5,52)

In [81]:
t2 = (2,3,7,9,200)

In [82]:
t3 = ((t1)+(t2))

In [83]:
t3

(1, 2, 100, 5, 52, 2, 3, 7, 9, 200)

In [84]:
# 22 - Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of there two sets.

In [85]:
s1 = {"delhi","mumbai","kolkata"}

In [86]:
s2 = {"patna","kolkata","lucknow"}

In [87]:
s1&s2

{'kolkata'}

In [88]:
# 23 - Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [89]:
tuple1 = ('pwskills',(7+3j),True,1,2,3,2.56)

In [90]:
tuple2 = ("Suzuki", "Audi", "BMW"," Skoda ")

In [91]:
tuple3 = (tuple1+tuple2)

In [92]:
tuple3

('pwskills', (7+3j), True, 1, 2, 3, 2.56, 'Suzuki', 'Audi', 'BMW', ' Skoda ')

In [93]:
# 24 - Developed code that prompts the user to input two sets of strings. Then print the elements that are present in the first set but not in the second set.

In [94]:
set1 = {"hicking","travelling","photography"}

In [95]:
set2 = {"mountains","photography","reading"}

In [96]:
set1-set2

{'hicking', 'travelling'}

In [97]:
# 26 - Write a code that prompts the user to input two sets of characters. Then print the union of these two sets.

In [98]:
s1 = {1,2,5,3,"ram","shyam",}

In [99]:
s2 = {1,6,7,9,2,"pwskills","ram"}

In [100]:
s1|s2

{1, 2, 3, 5, 6, 7, 9, 'pwskills', 'ram', 'shyam'}

In [101]:
# 27 -  Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [102]:
t1 = (1,2,50,48,100,3,5)

In [103]:
max(t1)

100

In [104]:
min(t1)

1

In [105]:
# 28 - Create a code that defines two sets of integers. Then print the union,intersection and difference of these two sets

In [106]:
S1 = {"apple", "banana", "cherry", True, 2}

In [107]:
S2 = {"mango","brinjal","banana", True, 2, 3, 2.5}

In [108]:
#Intersection of set
S1&S2

{2, True, 'banana'}

In [109]:
# Union
S1 | S2

{2, 2.5, 3, True, 'apple', 'banana', 'brinjal', 'cherry', 'mango'}

In [110]:
# Difference.
S1 - S2

{'apple', 'cherry'}

In [111]:
# 29- Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [112]:
tuple1 = ("pwskills","sushant",(7+3j),(7+3j),True,1,1,1,2,2.3)

In [113]:
tuple1.count(1)

4

In [114]:
tuple1.count(2)

1

In [115]:
tuple1.count("pwskills")

1

In [116]:
tuple1.count(7+3j)

2

In [117]:
tuple1[0]

'pwskills'

In [118]:
tuple1[-1]

2.3

In [119]:
# 30 -  Develop a code that prompts the user to input two sets of strings. Then print the symmetric difference of thess two sets.

In [120]:
A = {'a','b','c','d'}

In [121]:
B = {'e','f','b','g'}

In [122]:
C = A.symmetric_difference(B)

In [123]:
C

{'a', 'c', 'd', 'e', 'f', 'g'}

In [124]:
# 31 - Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [125]:
def countfreq(lis):
    freq = {}
    for items in lis:
        freq[items]= freq.get(items,0)+1
    print(freq)
lis = ['a','c','d','a','b','a','f','c','d','b','c','a']

In [126]:
countfreq(lis)

{'a': 4, 'c': 3, 'd': 2, 'b': 2, 'f': 1}

In [127]:
# 32 - Write a code that takes two dictionaries as input and merges them into a single dictionars. If there are common keys the values should be added together

In [128]:
# Import the 'Counter' class from the 'collections' module.
from collections import Counter
d1 = {'a': 100, 'b': 200, 'c': 300}
d2 = {'a': 300, 'b': 200, 'd': 400}

In [129]:
d = Counter(d1)+Counter(d2)

In [130]:
d

Counter({'a': 400, 'b': 400, 'c': 300, 'd': 400})

In [131]:
#33- write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input and return the corresponding value If any of the keys do not exist in the dictionary the function should return None.

In [157]:
# Empty nested dictionary
Dict = { 'Dict1': { },
		'Dict2': { }}
print("Nested dictionary 1-")
print(Dict)

# Nested dictionary having same keys
Dict = { 'Dict1': {'name': 'Ram', 'age': '19'},
		'Dict2': {'name': 'Shyam', 'age': '25'}}
print("\nNested dictionary 2-")
print(Dict)

# Nested dictionary of mixed dictionary keys
Dict = { 'Dict1': {1: 'G', 2: 'F', 3: 'G'},
		'Dict2': {'Name': 'Sushant', 1: [1, 2]} }
print("\nNested dictionary 3-")
print(Dict)

Nested dictionary 1-
{'Dict1': {}, 'Dict2': {}}

Nested dictionary 2-
{'Dict1': {'name': 'Ram', 'age': '19'}, 'Dict2': {'name': 'Shyam', 'age': '25'}}

Nested dictionary 3-
{'Dict1': {1: 'G', 2: 'F', 3: 'G'}, 'Dict2': {'Name': 'Sushant', 1: [1, 2]}}

In [134]:
# 34 -  Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [135]:
my_dict = { 'num6': 6, 'num3': 3, 'num2': 2, 'num4': 4, 'num1': 1, 'num5': 5}
sortedDict = sorted(my_dict)

In [136]:
sorted(my_dict)

['num1', 'num2', 'num3', 'num4', 'num5', 'num6']

In [137]:
S = {"Ashish","Ankit","Sushant","Sameer","Tejash","Ritesh"}

In [138]:
sorted(S)

['Ankit', 'Ashish', 'Ritesh', 'Sameer', 'Sushant', 'Tejash']

In [139]:
# 35 - Write a  code that inverts a dictionary swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value be storing the keys as a list in the inverted dictionary

In [140]:
d = {"student1": "Sushant","student2":"Rahul","student3":"Raman"}

In [141]:
print(d)

{'student1': 'Sushant', 'student2': 'Rahul', 'student3': 'Raman'}

In [142]:
#swap the keys and values
new_d = {val:key for (key,val)in d.items()}

In [143]:
print(new_d)

{'Sushant': 'student1', 'Rahul': 'student2', 'Raman': 'student3'}